# Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "../Vacation_Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df

,Hotel ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Pinar Del Rio,CU,72.90,scattered clouds,22.4175,-83.6981,Hostal La Colina Dunay y Raul
1,1,Santiago Del Estero,AR,75.74,clear sky,-27.7951,-64.2615,Apartamentos Castelli 90
2,2,Felanitx,ES,79.32,few clouds,39.4696,3.1483,Petit Hotel Hostatgeria Sant Salvador
3,4,Bealanana,MG,76.51,broken clouds,-14.5500,48.7333,Le Delta
4,6,Chuy,UY,65.43,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
...,...,...,...,...,...,...,...,...
205,683,Meulaboh,ID,78.84,overcast clouds,4.1363,96.1285,Kost Pria
206,684,Puerto Del Rosario,ES,78.55,scattered clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
207,686,Colares,PT,79.99,clear sky,38.7992,-9.4469,Arribas Sintra Hotel
208,691,Satipo,PE,70.75,broken clouds,-11.2522,-74.6386,Bungalows El Palmiche
209,693,Unguia,CO,74.21,overcast clouds,8.0434,-77.0945,Residencias El Golfo

In [4]:
# Review the formatting template for the pop-up markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [6]:
locations.head(10)

       Lat       Lng
0  22.4175  -83.6981
1 -27.7951  -64.2615
2  39.4696    3.1483
3 -14.5500   48.7333
4 -33.6971  -53.4616
5  37.3164   27.7839
6 -34.4187   19.2345
7  28.6835  -17.7642
8  -3.8004  102.2655
9 -33.9258   18.4232

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Ilhabela"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ilhabela"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sao Joao Da Barra"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Santo Antonio Do Monte"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Campo Grande"]

In [8]:
vacation_start

,Hotel ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
201,665,Ilhabela,BR,72.36,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel

In [9]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(start)

(-23.7781, -45.3581)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [20]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Hotel ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,665,Ilhabela,BR,72.36,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel
1,22,Sao Joao Da Barra,BR,75.29,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
2,107,Santo Antonio Do Monte,BR,72.07,overcast clouds,-20.0872,-45.2936,Hotel Planalto
3,578,Campo Grande,BR,72.95,clear sky,-20.4428,-54.6464,Residencial e Hotel Sênior Salmos 23

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [25]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[['Lat','Lng']]

In [30]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))